h1{
    color: rgb(255, 111, 0);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5%;
}
.col{
    padding-left: 2%;
}


img{
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#img-section1-col2{
    padding-top: 10%;
    height: 80%;
}
#img-section14-col2{
    padding-top: 10%;
    height: 80%;
}
#img-section3-col1{
    padding-top: 10%;
    height: 80%;
}
#div-section3{
    background-color: rgb(232, 232, 232);
}
#div-section2{
    background-color: rgb(232, 232, 232);
    text-align: center;

}
#div-section2-col1{
    justify-content: center;
    text-align: center;
    max-width: 32%;
}
#div-section2-col2{
    justify-content: center;
    text-align: center;
    max-width: 32%;
}
#div-section2-col3{
    justify-content: center;
    text-align: center;
    max-width: 32%;
}
