h1{
    color: #F08356;
}
h1.banner{
    margin: 0px;
    padding: 0px;
    background-color:#3F4DF0;
    font-size: 60px;
}
img.carousel{
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
.row{
    margin-top: 10px;
}
img{
    float:left;
    height: 300px;
    width: 400px;
}
.container {
    position: relative;
    width: 30%;
}
.image img {
    width: 100%;
    height: 150px;
}
.header{
    background-color:#3F4DF0; 
    width: 100%;
}
.header img{
    width: 100px;
    height: 100px;
}
.header .container{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.navbar{
    width: 100%;
}
iframe{
    border:none; 
    width:100%;
    height: 100%;
}

.paragraph{
    background-color: rgba(107, 240, 38, 0.29);
    padding: 10px;
}
footer{
    border:none; 
    width:100%;  
    margin: 0; 
    padding: 0;
    height: 300px;
}