h1{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    text-align: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    text-align: left;
    box-align:'justify';
}


p{
    text-align:left;
}

.article{
    text-align: center;
    box-align:'justify';
    width:1100px;
    margin: 0px auto;

}

li{
    margin:0px auto;
    text-align: justify;
}

#hp{
    float: right;    
     margin: 0 0 0 15px;
    }

#hiz{
    float: left;    
    margin: 0 0 0 15px;
        }
